.about {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 200px;
    margin-top: 102px;
    margin-bottom: 110px;
}

.about-container {
    display: flex;
    align-items: center;
    max-height: 100%;
}

.about-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.about-title {
    color: white;
}