.telemetry {
    position: relative;
    margin-bottom: 160px;
}

.telemetry-container {}

.telemetry-content {
    display: flex;

}

.telemetry-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 220px;
}

.telemetry-content-left-description {
    margin-bottom: 40px;
}

.telemetry-content-decor-arrow {
    z-index: 1;
    position: absolute;
    right: 0%;
    bottom: -1%;
}

.telemetry-content-decor-halfCircle {
    position: absolute;
    right: 0%;
    bottom: 2%;
}



@media (max-width: 1400px) {}

@media (max-width: 1200px) {
    .telemetry-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .telemetry-content-left {
        margin-right: 0px;
        align-items: center;
    }

    .telemetry-content-decor-arrow {
        right: 0%;
        bottom: 43%;
    }

    .telemetry-content-decor-arrow svg {
        max-width: 500px;
    }

    .telemetry-content-decor-halfCircle {
        right: 0%;
        bottom: 46%;
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .telemetry-content-decor-halfCircle {
        display: none;
    }

    .telemetry-content-decor-arrow {
        right: 0%;
        bottom: 45%;
    }


}

@media (max-width: 560px) {


    .telemetry-content-decor-arrow {
        right: 0%;
        bottom: 45%;
    }

}

@media (max-width: 480px) {
    .telemetry-content-decor-arrow {
        right: 0%;
        bottom: 60%;
    }

    .telemetry-content-decor-arrow svg {
        max-width: 300px;
    }

    .telemetry-content-right-person img {
        max-width: 311px;
    }
}

@media (max-width: 320px) {}