.faqs {
    margin-bottom: 160px;
}

.faqs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .faqs-content-title {
    margin-top: 0px;
    margin-bottom: 64px;
} */

.faqs-content-top {
    display: flex;
    margin-bottom: 64px;
    width: 100%;
}

.faqs-content-top-item {
    width: 90%;
}

.faqs-content-bottom {
    margin-bottom: 0px;
}

.faqs-content-top-title {
    margin: 0 100px 0 0;
    width: 40%;
}

/* .faqs-content-top-item-inner {
    background-color: var(--snow);
    padding: 32px 40px;
    margin-bottom: 16px;
} */



.faqs-content-top-item-inner:last-child {
    margin-bottom: 0px;
}





.faqs-content-top-item-inner {
    width: 100%;
    margin-bottom: 16px;
}


.faqs-content-top-item-title {
    position: relative;
    display: flex;
    background-color: var(--snow);
    padding: 32px 40px;
    /* margin-bottom: 16px; */
    border: none;
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1.07px;
    font-family: var(--main-font);
    font-weight: bold;
    color: var(--dark);
    cursor: pointer;

}

.faqs-content-top-item-title::after {
    content: "";
    position: absolute;
    right: 5%;
    top: 35%;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 3px solid var(--yellow);
    border-bottom: 3px solid var(--yellow);
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    margin: 5px;
    pointer-events: none;
}

.faqs-content-top-item-title.active::after {
    transform: rotate(225deg);
    transition: all 0.6s ease;
}


.faqs-content-top-item-title:hover {
    background-color: var(--light-yellow);
    transition: background-color 0.3s ease;
}

.faqs-content-top-item-description {
    overflow: hidden;
    height: 0;
    display: none;

}

.faqs-content-top-item-description__visible {
    display: block;
    background-color: var(--snow);
    padding: 0px 40px 32px 40px;
    height: auto;
}












@media (max-width: 1400px) {}

@media (max-width: 1200px) {
    .faqs-content-top-title {
        font-size: 40px;
        margin: 0 50px 0 0;
        width: 90%;
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .faqs-content-title {
        font-size: 32px;
    }

    .faqs-content-top-title {
        display: flex;
        justify-content: center;
        margin: 0 0 32px 0;
        font-size: 24px;
    }


    .faqs-content-top {
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px;
    }

    .faqs-content-top-item-title {
        font-size: 18px;
    }
}

@media (max-width: 480px) {}

@media (max-width: 320px) {}